*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    scroll-behavior: smooth;
}

:root{
    --primary-color:rgb(81, 157, 218);
    --black-color:black;
    --white-color:white;
}
/* Custon Scroll Bar Css */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--primary-color);
}




/*  Navbar */
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    transition: all 0.3s ease;
}
nav.sticky{
    background: var(--primary-color);
    padding: 13px 0;

}
nav .navbar{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a{
    font-weight: 500;
    font-size: 35px;
    color: var(--primary-color);
    text-decoration: none;
}

nav.sticky .navbar .logo a{
    color: var(--white-color);
}

nav .navbar .menu{
    display: flex;
    position: relative;
}

nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
}
nav .navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    padding: 6px 0;
    transition: all 0.4s ease;
    text-decoration: none;
}
.navbar .menu a:hover{
    color: var(--primary-color);
}
nav.sticky .menu a{
    color:var(--white-color);
}
nav.sticky .menu a:hover{
    color: var(--black-color);
}
.navbar .media-icons a{
    color: var(--primary-color);
    font-size: 18px;
    margin:0 6px;
}
nav.sticky .media-icons a{
    color:var(--white-color);
}


/*  side nav menu button css */
nav .menu-btn,
.navbar .menu .cancel-btn{
    position: absolute;
    color: var(--white-color);
    right:30px;
    top:20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}
nav .menu-btn{
    color: var(--primary-color);
}
nV.sticky .menu-btn{
    color: var(--white-color);
}
.navbar .menu .menu-btn{
    color: var(--white-color);
}


/*  Home Section Styling */
.home{
    height: 100vh;
    width: 100%;
  background: url(./4.jpg) no-repeat;
    background-size: cover;
    background-position:center center ;
    background-attachment: fixed;
}
.home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .text-one{
    font-size: 25px;
    color: var(--black-color);
}
.home .text-two{
    color: var(--black-color);
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    ;
}
.home .text-three{
    font-size: 40px;
    margin: 5px 0;
    color: var(--primary-color);
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}
.home .button button:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}


/* About Section Styling */
section{
    padding-top:40px;
}
section .content{
    width:80%;
    margin:40px auto;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px ;
}
section .title span{
    color: var(--black-color);
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
    content:'';
    position:absolute;
    height:3px;
    width: 100%;
    background: var(--primary-color);
    left: 0;
    bottom: 0;
}
section .title span::after{
    bottom:-7px ;
    width:70%;
    left:50%;
    transform: translateX(-50%);
}
/* About details: flex row */
.about .about-details {
    display: flex;           
    justify-content: space-between; 
    align-items: center;   
    /* gap: 20px;               
    flex-wrap: wrap;         */
}

.about .about-details .left {
    width:45%;      
}

/* Right text */
.about .about-details .right {
   width: 55%;                
}
.about .left img {
    width: 300px;      /* fill container */
    object-fit: cover;
    height: 370px;     /* keep aspect ratio */
    border-radius: 12px; /* optional */
}

.about .about-details .right{
    width:55%;
}
section .topic{
    color: var(--black-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .right p{
    text-align: justify;
    color: var(--black-color);
}
section button{
    margin:16px 0;
}
section .button button{
    outline:none;
    padding:8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--white-color);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}
section .button button:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: var(--white-color);
}


/*  Skill CSS */
.skills{
    background: #f9e3eb76;
}
.skills .content{
    padding: 40px 0;
}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-details .text{
    width: 50%;
}
.skills-details p{
    color:var(--black-color);
    text-align: justify;
}
.skills-details .boxes{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.skills-details .box{
    width:calc(100% / 2 - 20px);
    margin: 20px 0;
}
.skills-details .boxes .topic{
    font-size: 20px;
    color: var(--primary-color);
}
.skills-details .boxes .per{
    color: var(--primary-color);
}





/*  Project  */








/*  responsive Media Queries */
@media (max-width:1190px){
    section .conent{
        width:85%
    }
}
@media (max-width:1000px){
    .about .about-details{
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details .right{
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box{
        margin: 20px;
        width: calc(100% / 2 -20px);
    }
}
@media (max-width:900px){
    .about .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width:750px){
    naav .navbar{
        width: 90%;
    }
    nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: var(--primary-color);
    height: 100vh;
    max-width: 400px ;
    }
}

